/*======= common ========*/
.body {
  font-size: 16px;
  line-height: 1;
}

#header {
  background-color: #303030;
}
#header .headerInner {
  height: 95px;
  position: relative;
}

#content .contentInner {
  padding: 90px 0 90px 0;
}

#footer {
  background-color: #1c1c1c;
}
#footer .footerInner {
  height: 40px;
  padding-top: 30px;
}

/*============ Device ==========*/
/*===== Mobile Size =====*/
@media screen and (max-width: 640px) {
  .layoutInner {
    margin: 0 auto;
    width: 90%;
  }

  /* header */
  .headerLogo {
    float: left;
    padding: 30px 0;
    font-size: 35px;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 0.08em;
  }

  /* menu */
  .toggle {
    display: block;
    background: #303030;
    position: absolute;
    top: 30px;
    right: 0;
  }
  .toggle .toggleBar {
    display: block;
    width: 45px;
    height: 0;
    margin-bottom: 10px;
    border: 0;
    border-bottom: solid 5px #FFF;
  }
  .toggle .toggleBar:last-child {
    margin-bottom: 0;
  }

  .menu {
    display: none;
    width: 100%;
    position: absolute;
    top: 95px;
    left: 0;
  }
  .menu .menuList {
    text-align: center;
    background-color: #000;
    height: 35px;
    padding-top: 15px;
  }
  .menu .menuList .menuInner {
    font-size: 16px;
    color: #FFF;
    font-weight: 300;
  }
  .menu .menuList .menuInner:hover {
    border-bottom: 5px solid #7b6c63;
    padding-bottom: 10px;
  }

  /* visual */
  .visual {
    width: 100%;
    height: auto;
    background-image: url(images/sp_bg.png);
    background-position: left top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .visual .visualInner {
    height: 675px;
  }
  .visual .visualInner .visualText {
    text-align: center;
    padding-top: 230px;
    color: #FFF;
  }
  .visual .visualInner .visualText .visualSubTitle {
    display: none;
  }
  .visual .visualInner .visualText .visualTitle {
    margin-bottom: 130px;
  }
  .visual .visualInner .visualText .visualTitle .visualTitleFont {
    margin-bottom: 30px;
    font-size: 43px;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 0.2em;
  }
  .visual .visualInner .visualText .visualTitle .visualTitleFont .visualTitleColor {
    color: #7b6c63;
  }
  .visual .visualInner .visualText .visualContact {
    display: block;
    width: 330px;
    height: 75px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.1);
  }
  .visual .visualInner .visualText .visualContact .visualContactText {
    display: block;
    font-size: 23px;
    letter-spacing: 0.2em;
    padding-top: 30px;
    color: #FFF;
  }
  .visual .visualInner .visualText .visualContact:hover {
    background-color: rgba(200, 200, 200, 0.3);
  }

  /* content */
  .about {
    width: 100%;
    height: auto;
  }
  .about .aboutInner {
    text-align: center;
    margin-bottom: 60px;
  }
  .about .aboutInner .aboutTitle {
    padding-bottom: 50px;
    font-size: 37px;
    color: #7b6c63;
    font-weight: 400;
    letter-spacing: 0.2em;
  }
  .about .aboutInner .aboutTitleUnderLine {
    display: block;
    width: 75px;
    height: 0px;
    margin: 0 auto;
    padding-bottom: 35px;
    border: 0;
    border-top: 6px solid #7b6c63;
  }
  .about .aboutInner .aboutText {
    font-size: 28px;
    color: #000;
    line-height: 1.4em;
  }

  .business {
    text-align: center;
  }
  .business .businessInner {
    margin-bottom: 75px;
  }
  .business .businessInner .businessInnerImg {
    width: 30px;
    height: 30px;
  }
  .business .businessInner .businessInnerTitle {
    padding: 25px 0;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0.2em;
  }
  .business .businessInner .businessInnerText {
    font-size: 24px;
    color: #949494;
    line-height: 1.4em;
  }
  .business .businessInner:last-child {
    margin-bottom: 0;
  }

  /* footer */
  .copyright {
    text-align: center;
  }
  .copyright .smallFont {
    font-size: 12px;
    letter-spacing: 0.15em;
    color: #4d4d4d;
  }
}
/*==== Middle Size ====*/
@media screen and (min-width: 641px) and (max-width: 860px) {
  .layoutInner {
    margin: 0 auto;
    width: 90%;
  }

  /* header */
  .headerLogo {
    float: left;
    padding: 30px 0;
    font-size: 35px;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 0.08em;
  }

  /* menu */
  .toggle {
    display: block;
    background: #303030;
    position: absolute;
    top: 30px;
    right: 0;
  }
  .toggle .toggleBar {
    display: block;
    width: 45px;
    height: 0;
    margin-bottom: 10px;
    border: 0;
    border-bottom: solid 5px #FFF;
  }
  .toggle .toggleBar:last-child {
    margin-bottom: 0;
  }

  .menu {
    display: none;
    width: 100%;
    position: absolute;
    top: 95px;
    left: 0;
  }
  .menu .menuList {
    text-align: center;
    background-color: #000;
    height: 35px;
    padding-top: 15px;
  }
  .menu .menuList .menuInner {
    font-size: 16px;
    color: #FFF;
    font-weight: 300;
  }
  .menu .menuList .menuInner:hover {
    border-bottom: 5px solid #7b6c63;
    padding-bottom: 10px;
  }

  /* visual */
  .visual {
    width: 100%;
    height: auto;
    background-image: url(images/pc_bg.png);
    background-position: left top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .visual .visualInner {
    height: 550px;
  }
  .visual .visualInner .visualText {
    padding-top: 150px;
    color: #FFF;
  }
  .visual .visualInner .visualText .visualSubTitle {
    font-size: 17px;
  }
  .visual .visualInner .visualText .visualTitle {
    margin: 30px 0 70px 0;
  }
  .visual .visualInner .visualText .visualTitle .visualTitleFont {
    margin-bottom: 30px;
    font-size: 47px;
    font-weight: 400;
    letter-spacing: 0.08em;
  }
  .visual .visualInner .visualText .visualTitle .visualTitleFont .visualTitleColor {
    color: #7b6c63;
  }
  .visual .visualInner .visualText .visualContact {
    display: block;
    width: 265px;
    height: 60px;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.1);
  }
  .visual .visualInner .visualText .visualContact .visualContactText {
    display: block;
    font-size: 12px;
    letter-spacing: 0.2em;
    padding-top: 25px;
    color: #FFF;
  }
  .visual .visualInner .visualText .visualContact:hover {
    background-color: rgba(200, 200, 200, 0.3);
  }

  /* content */
  .about {
    width: 100%;
    height: auto;
  }
  .about .aboutInner {
    width: 430px;
    margin: 0 auto 90px auto;
    text-align: center;
  }
  .about .aboutInner .aboutTitle {
    padding-bottom: 50px;
    font-size: 29px;
    color: #7b6c63;
    font-weight: 500;
    letter-spacing: 0.2em;
  }
  .about .aboutInner .aboutTitleUnderLine {
    display: block;
    width: 75px;
    height: 0;
    margin: 0 auto;
    padding-bottom: 45px;
    border: 0;
    border-top: 6px solid #7b6c63;
  }
  .about .aboutInner .aboutText {
    color: #000;
    line-height: 1.6em;
  }

  .business {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .business .businessInner {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    padding-left: 20px;
  }
  .business .businessInner .businessInnerImg {
    width: 30px;
    height: 30px;
  }
  .business .businessInner .businessInnerTitle {
    padding: 25px 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
  }
  .business .businessInner .businessInnerText {
    font-size: 13px;
    color: #949494;
    line-height: 2em;
  }
  .business .businessInner:first-child {
    padding-left: 0;
  }

  /* footer */
  .copyright {
    text-align: center;
  }
  .copyright .smallFont {
    font-size: 12px;
    letter-spacing: 0.15em;
    color: #4d4d4d;
  }
}
/* PC Size  */
@media screen and (min-width: 861px) and (min-width: 861px) and (max-width: 960px) {
  .layoutInner {
    margin: 0 auto;
    width: 85%;
  }
}
@media screen and (min-width: 861px) and (min-width: 961px) {
  .layoutInner {
    margin: 0 auto;
    max-width: 1060px;
    width: 90%;
  }
}
@media screen and (min-width: 861px) {
  /* header */
  .headerLogo {
    float: left;
    padding: 30px 0;
    font-size: 35px;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 0.08em;
  }

  /* menu */
  .nav {
    float: right;
    width: 570px;
    padding-top: 40px;
  }
  .nav .menu {
    display: table;
    table-layout: auto;
  }
  .nav .menu .menuList {
    display: table-cell;
    vertical-align: top;
    text-align: right;
    padding-left: 40px;
  }
  .nav .menu .menuList .menuInner {
    font-size: 14px;
    color: #FFF;
    font-weight: 300;
  }
  .nav .menu .menuList .menuInner:hover {
    border-bottom: 5px solid #7b6c63;
    padding-bottom: 10px;
  }

  /* visual */
  .visual {
    width: 100%;
    height: auto;
    background-image: url(images/pc_bg.png);
    background-position: left top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .visual .visualInner {
    height: 675px;
  }
  .visual .visualInner .visualText {
    padding-top: 190px;
    color: #FFF;
  }
  .visual .visualInner .visualText .visualSubTitle {
    font-size: 17px;
  }
  .visual .visualInner .visualText .visualTitle {
    margin: 30px 0 70px 0;
  }
  .visual .visualInner .visualText .visualTitle .visualTitleFont {
    margin-bottom: 30px;
    font-size: 47px;
    font-weight: 400;
    letter-spacing: 0.08em;
  }
  .visual .visualInner .visualText .visualTitle .visualTitleFont .visualTitleColor {
    color: #7b6c63;
  }
  .visual .visualInner .visualText .visualContact {
    display: block;
    width: 265px;
    height: 60px;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.1);
  }
  .visual .visualInner .visualText .visualContact .visualContactText {
    display: block;
    font-size: 12px;
    letter-spacing: 0.2em;
    padding-top: 25px;
    color: #FFF;
  }
  .visual .visualInner .visualText .visualContact:hover {
    background-color: rgba(200, 200, 200, 0.3);
  }

  /* content */
  .about {
    width: 100%;
    height: auto;
  }
  .about .aboutInner {
    width: 430px;
    margin: 0 auto 90px auto;
    text-align: center;
  }
  .about .aboutInner .aboutTitle {
    padding-bottom: 50px;
    font-size: 29px;
    color: #7b6c63;
    font-weight: 500;
    letter-spacing: 0.2em;
  }
  .about .aboutInner .aboutTitleUnderLine {
    display: block;
    width: 75px;
    height: 0;
    margin: 0 auto;
    padding-bottom: 45px;
    border: 0;
    border-top: 6px solid #7b6c63;
  }
  .about .aboutInner .aboutText {
    color: #000;
    line-height: 1.6em;
  }

  .business {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .business .businessInner {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    padding-left: 20px;
  }
  .business .businessInner .businessInnerImg {
    width: 30px;
    height: 30px;
  }
  .business .businessInner .businessInnerTitle {
    padding: 25px 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
  }
  .business .businessInner .businessInnerText {
    font-size: 13px;
    color: #949494;
    line-height: 2em;
  }
  .business .businessInner:first-child {
    padding-left: 0;
  }

  /* footer */
  .copyright {
    text-align: center;
  }
  .copyright .smallFont {
    font-size: 12px;
    letter-spacing: 0.15em;
    color: #4d4d4d;
  }
}
