/*======= common ========*/
.body {
  font-size: 16px;
  line-height: 1;
}

#header {
  background-color: #303030;
  .headerInner {
    height: 95px;
    position: relative;
  }
}

#content {
  .contentInner {
    padding: 90px 0 90px 0;
  }
}

#footer {
  background-color: #1c1c1c;
  .footerInner {
    height: 40px;
    padding-top: 30px;
  }
}


/*============ Device ==========*/
@import "mobile_small";
@import "mobile_large";
@import "middle";
@import "pc";


