/* common */
.layoutInner {
  margin: 0 auto;
  max-width: 70%;
}

.alignCenter {
  text-align: center;
}

/* layout */
#body {
  width:100%;
}

#headerVisual {
  width: 100%;
  background-image: url(images/bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#header {
  height: 60px;
  background-color: rgba(200,200,200,0.4);
}

#headerInner {
  padding: 10px 0;
}

#visual {
  max-height: 450px;
}

#visualInner {
  padding: 15% 0;
}

#content {
  height: auto;
}

#contentInner {
  padding: 50px 0;
}

#footer {
  height: 20px;
  padding: 10px 0;
  background-color: #000;
}

/* parts */
.menu {
  display: table;
  table-layout: fixed;
}

.menuInner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.copyright {
  color: rgba(200, 200, 200, 0.4);
}

